* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #171b1e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-field {
  max-width: 24rem;
  width: 320px;

  margin: 5rem auto;
}

header {
  text-align: center;
}

.header-img {
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 8rem;
  height: 8rem;
}

.header-title h1 {
  color: rgba(203, 213, 225, 1);
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.header-title p {
  color: rgba(203, 213, 225, 1);
  line-height: 1.5rem;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.header-title p a {
  color: #f97316;
  text-decoration: none;
  line-height: 1.5rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 50px;
}

.input-accept-rules {
  display: flex;
  align-items: center;
}

.input-accept-rules p {
  color: rgba(203, 213, 225, 1);
}

.input-accept-rules p a {
  color: #f97316;
}

.text-field {
  width: 320px;
  height: 40px;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  border-radius: 0.375rem;
  background: #ffffff0d;
}
